
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Accueil - Site jeu en ligne{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    {#/ MENU /#}
    <nav>
        <ul id="menu">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('app_register') }}">M'inscrire</a></li>
                <li><a href="{{ path('app') }}">Accueil</a></li>
                <li><a href="{{ path('app_login') }}">Me connecter</a></li>
            {% endif %}
        </ul>

        <svg xmlns="http://www.w3.org/2000/svg" width="2914.615" height="176.492" viewBox="0 0 2914.615 176.492">
            <g id="vagues" transform="translate(4.28 10)">
            <path id="Tracé_1" data-name="Tracé 1" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -116.431)" fill="none" stroke="#b4dad0" stroke-width="20"/>
            <path id="Tracé_2" data-name="Tracé 2" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -72.934)" fill="none" stroke="#b4dad0" stroke-width="20"/>
            <path id="Tracé_3" data-name="Tracé 3" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -29.936)" fill="none" stroke="#b4dad0" stroke-width="20"/>
            </g>
        </svg>
    </nav>

    {#/ BODY /#}
    <main class="container">
        {% block body %}{% endblock %}
    </main>

    {#/ FOOTER /#}
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" width="2914.615" height="176.492" viewBox="0 0 2914.615 176.492">
            <g id="vagues" transform="translate(4.28 10)">
              <path id="Tracé_1" data-name="Tracé 1" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -116.431)" fill="none" stroke="#b4dad0" stroke-width="20"/>
              <path id="Tracé_2" data-name="Tracé 2" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -72.934)" fill="none" stroke="#b4dad0" stroke-width="20"/>
              <path id="Tracé_3" data-name="Tracé 3" d="M1948.485,153.67s78.625-37.239,156.267-37.239,154.3,37.239,154.3,37.239,73.646,32.758,152.712,32.758S2575.32,153.67,2575.32,153.67s74.349-37.239,142.884-37.239,131.255,37.239,131.255,37.239,65.658,32.758,135.821,32.758S3130.11,153.67,3130.11,153.67s83.927-37.239,161.975-37.239,150.221,37.239,150.221,37.239,83.226,32.758,166.15,32.758S3774,153.67,3774,153.67s96.475-37.239,185.041-37.239S4128.26,153.67,4128.26,153.67s89.761,32.758,183.937,32.758,192.765-32.758,192.765-32.758,90.037-37.239,177.683-37.239,108.736,15,172.9,37.239" transform="translate(-1948.485 -29.936)" fill="none" stroke="#b4dad0" stroke-width="20"/>
            </g>
        </svg> 

        <ul id="pied">
            <li><a href="mentions.html#cgu">CGU</a></li>
            <li><a href="mentions.html#rgpd">RGPD</a></li>
            <li><a href="gestion.html">GESTION</a></li>
            <li><a href="https://mmi19g14.mmi-troyes.fr/piorra" target="_blank">© 2021 - Agence Piorra</a></li>
        </ul>
    </footer>
    </body>
</html>